<link rel="stylesheet" href="../css/styles.css">
<link rel="stylesheet" href="../css/contact-modal.css">

<div class="order-modal-backdrop is-hidden">
    <div class="order-modal-box">
        
        <button class="order-modal-close" type="button" aria-label="Закрити модальне вікно">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://w3.org">
                <path d="M18 6L6 18M6 6L18 18" stroke="#2C2C2C" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>

        <h2 class="order-modal-title">Оформлення замовлення</h2>

        <form class="order-modal-form" action="#">

            <div class="order-modal-field">
                <label class="order-modal-label" for="modal-user-name">Ім'я*</label>
                <input class="order-modal-input" type="text" id="modal-user-name" name="name" placeholder="Вікторія"
                    required>
            </div>

            <div class="order-modal-field">
                <label class="order-modal-label" for="modal-user-phone">Телефон*</label>
                <input class="order-modal-input" type="tel" id="modal-user-phone" name="phone" placeholder="+380"
                    required>
            </div>

            <div class="order-modal-field">
                <label class="order-modal-label" for="modal-user-comment">Коментар*</label>
                <textarea class="order-modal-textarea" id="modal-user-comment" name="comment" placeholder="Ваш коментар"
                    required></textarea>
            </div>

            <button class="order-modal-submit" type="submit">Надіслати заявку</button>
            </form>
            
        </div>
    </div>