<header class="header">
    <div class="container header-container">
        <div class="header-wrap">
        <!--logo --> 
        <a href="/" class="logo">
            <span>Солодка майстерня</span>
        </a>

        <!---Nav-->
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="#сoлодощі" class="nav-link">Солодощі</a></li>
                <li><a href="#про-нас" class="nav-link">Про нас</a></li>
                <li><a href="#відгуки" class="nav-link">Відгуки</a></li>
                <li><a href="#часті-питання" class="nav-link">Часті питання</a></li>
            </ul>
        </nav>

        <a href="#desserts" class="btn header-btn">До покупок</a>

      </div> 
    </div>
</header>