<div class="product-modal-overlay">
    <div class="product-modal">
        <button class="product-modal-close" type="button">X</button>
        
        <div class="product-modal-left-content">
            <img 
              class="product-modal-img"
              src="../img/product-modal/desktop/product-model-cake.webp"
              srcset="
                ../img/product-modal/desktop/product-model-cake.webp 1x,
                ../img/product-modal/desktop/product-model-cake@2x.webp 2x
              "
              alt="Класичний десерт з шоколадним центром"
            />
        </div>
        <div class="product-modal-right-content">
            <ul class="product-modal-info-list">
                <li class="product-modal-info-list-element">
                    <p class="product-modal-info-list-element-title">Шоколадний фондан</p>
                </li>
                <li class="product-modal-info-list-element">
                    <p class="product-modal-info-list-element-price">120 грн</p>
                </li>
                <li class="product-modal-info-list-element">
                    <span class="product-modal-info-list-element-grade">******</span>
                </li>
                <li class="product-modal-info-list-element">
                    <p class="product-modal-info-list-element-alt"> Класичний десерт з шоколадним центром</p>
                </li>
                <li class="product-modal-info-list-element">
                    <p class="product-modal-info-list-element-composition"><span class="product-modal-list-accent">Склад:</span> вода, мука, сіль, цукор, шоколад</p>
                </li>
                <li class="product-modal-info-list-element">
                    <button class="product-modal-info-list-element-btn" type="button">Перейти до замовлення</button>
                </li>
            </ul>
        </div>
    </div>
</div>