.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}


/* LOGO */
.logo {
    display: block;
    color: var(--color-main);
    transition: color var(--transition);
}

.logo-img {
    display: block;
    width: 158px;
    height: auto;
    /*height: 64.57px;
flex-shrink: 0;*/
    transition: transform var(--transition);
}

.logo:hover,
.logo:focus {
    color: var(--btn-primary-bg-hover);
}

.logo:active {
    color: var(--btn-primary-bg-active);
}

.logo:hover .logo-img,
.logo:focus .logo-img,
.logo:active .logo-img {
    transform: scale(1.1);
}


/* NAV */
.nav {
    display: none;
}

.nav-list {
    display: flex;
    gap: 16px;
}

.nav-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
}

.nav-link,
.mob-link {
    font-family: var(--font-family-main);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--link-color-normal);
    text-decoration: none;
    cursor: pointer;

    transition:
        color var(--transition),
        text-decoration-color var(--transition);
}


/* NAV HOVER / FOCUS */
.nav-link:hover,
.nav-link:focus,
.mob-link:hover,
.mob-link:focus {
    color: var(--btn-primary-bg-hover);
    text-decoration: underline;
    text-decoration-color: var(--btn-primary-bg-hover);
    text-underline-offset: 9px;
    text-decoration-thickness: 1px;
}


/* NAV ACTIVE */
.nav-link:active,
.mob-link:active {
    color: var(--btn-primary-bg-active);
    text-decoration: underline;
    text-decoration-color: var(--btn-primary-bg-active);
    text-underline-offset: 9px;
    text-decoration-thickness: 1px;
}


/* HEADER BUTTON */
.header-btn {
    display: none;
}

.header-btn,
.header-btn-mob {
    background-color: var(--btn-primary-bg-normal);
    border: 1px solid var(--btn-primary-bg-normal);
    color: var(--btn-primary-text-color);
    border-radius: 100px;

    font-family: var(--font-family-main);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    cursor: pointer;

    transition:
        color var(--transition),
        background-color var(--transition),
        border-color var(--transition);
}


/* BUTTON HOVER / FOCUS */
.header-btn:hover,
.header-btn:focus,
.header-btn-mob:hover,
.header-btn-mob:focus {
    background-color: var(--btn-primary-bg-hover);
    border-color: var(--btn-primary-border-color);
}


/* BUTTON ACTIVE */
.header-btn:active,
.header-btn-mob:active {
    background-color: var(--btn-primary-bg-active);
    border-color: var(--btn-primary-border-color);
}


/* MOBILE MENU BUTTON */
.mob-menu-open {
    width: 48px;
    height: 48px;
    padding: 12px;
    border: none;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mob-menu-svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
    color: var(--color-main);

    transition: color var(--transition);
}

.mob-menu-open:hover .mob-menu-svg,
.mob-menu-open:focus .mob-menu-svg {
    color: var(--btn-primary-bg-hover);
}

.mob-menu-open:active .mob-menu-svg {
    color: var(--btn-primary-bg-active);
}


/* TABLET */
@media screen and (min-width: 768px) {
    

    .mob-menu-open {
        display: none;
    }

    .nav-list {
        position: relative;
    }

    .header-btn {
        display: inline-flex;
        margin-left: 32px;
        padding: 8px 20px;
        white-space: nowrap;
    }

    .nav {
        display: flex;
        margin-left: 38px;
        white-space: nowrap;
        align-items: center;
    }

    .header-nav {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-left: auto;
    }

    .headericons-menu {
        display: none;
    }
}


/* DESKTOP */
@media screen and (min-width: 1440px) {
    .header-container{
        padding-left: 64px;
        padding-right: 64px;
    }

    .nav {
        margin-left: auto;
    }

    .nav-list {
        gap: 32px;
    }
}